* {
  box-sizing: border-box;
}

body {
  width: 100%;
  color: #333;
  margin: 0;
}

.leader-h {
  width: 100%;
  background-color: #333354;
  color: #fafafa;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  background-color: honeydew;
}

#matchHistory{
  margin-top: 15px;
  height: 400px;


}

hr{
  width: 400px;
  margin-left:0;
}

.bold{
  font-weight:bolder;
}